@import url("@vscode/codicons/dist/codicon.css");

:root * {
  margin: 0;
  padding: 0;
  user-select: none;
}

html,
html body,
html body #root,
.view {
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;

  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;

  overflow-x: hidden;
  overflow-y: hidden;
}

.view {
  padding: 2rem;
}